<div class="form-group row">
  <label for="isbn" class="col-form-label col-sm-2">ISBN</label>
  <div class="col-sm-6">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="isbn"
      name="isbn"
      required
    />
  </div>
</div>
<div class="form-group row my-2">
  <label for="titulo" class="col-form-label col-sm-2">Titulo</label>
  <div class="col-sm-6">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="titulo"
      name="titulo"
      required
    />
  </div>
</div>
<div class="form-group row my-2">
  <label for="categoria" class="col-form-label col-sm-2">Categoria</label>
  <div class="col-sm-6">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="categoria"
      name="categoria"
      required
    />
  </div>
</div>
<div class="form-group row my-2">
  <label for="editorial" class="col-form-label col-sm-2">Editorial</label>
  <div class="col-sm-6">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="editorial"
      name="editorial"
      required
    />
  </div>
</div>
<div class="form-group row my-2">
  <label for="editorial" class="col-form-label col-sm-2">Autor:</label>
  <div class="col-sm-6">
    <select
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
      [(ngModel)]="autorSelected"
      name="autorSelected"
    >
      <option [value]="0">-- Selecciona Opcion --</option>
      <option *ngFor="let autor of comboAutores" [value]="autor.code">
        {{ autor.valor }}
      </option>
    </select>
  </div>
</div>
<div class="form-group row my-2">
  <label for="editorial" class="col-form-label col-sm-2">Imagen:</label>
  <div class="col-sm-6">
    <input type="file" (change)="onFileSelected($event)" name="imagen" />
  </div>
</div>
