<div class="card border-primary mb-3">
  <div class="card-header text-white bg-dark">PANEL ADMINISTRACIÓN LIBROS</div>
  <div class="card-body">
    <!--- Panel de para filtro de búsqueda-->
    <div *ngIf="pnBuscar" id="buscar">
      <ng-container *ngTemplateOutlet="templateBuscar"></ng-container>
    </div>
    <!--Fin Panel búsqueda-->
    <!--Panel alta-->

    <div *ngIf="pnAlta" id="alta">
      <ng-container *ngTemplateOutlet="templateAlta"></ng-container>
    </div>

    <!--Fin panel alta-->
    <!--Panel para modificar-->
    <div *ngIf="pnModificar" id="modificar">
      <ng-container *ngTemplateOutlet="templateModificar"></ng-container>
    </div>
    <!--fin panel modificar-->
  </div>
  <div class="card border-primary mb-3 mx-2">
    <div class="card-header text-white bg-primary">Lista de Libros</div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="text-center">
          <tr>
            <th>ID</th>
            <th>TITULO</th>
            <th>CATEGORIA</th>
            <th>FECHA R.</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngTemplateOutlet="filaLibro; context: { $implicit: listaLibros }"
          ></ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Templates para aplicacion -->
<!-- Template para buscar-->
<ng-template #templateBuscar>
  <div class="card mt-3 mx-auto" style="width: 18rem">
    <div class="card-header text-dark bg-warning">Filtro de búsqueda</div>
    <div class="card-body">
      <div class="form-group row mb-3">
        <label for="nombre" class="col-form-label col-sm-4">Nombre:</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="nombreB"
            name="nombre"
          />
        </div>
      </div>
      <button class="btn btn-primary mx-2">Buscar</button>
      <button class="btn btn-success" (click)="onNuevo()">Nuevo</button>
    </div>
  </div>
</ng-template>
<!-- Fin template buscar-->
<!-- Template para alta de autor-->
<ng-template #templateAlta>
  <div class="card bg-dark text-white mx-5">
    <div class="card-header bg-primary">Registro nuevo libro</div>
    <div class="card-body">
      <app-form
        [isbn]="isbnA"
        [titulo]="tituloA"
        [categoria]="categoriaA"
        [editorial]="editorialA"
        [comboAutores]="comboAutores"
        (imagenSeleccionada)="formComponent.imagen = $event"
      ></app-form>
      <div class="form-group row my-2">
        <div class="col-sm-6">
          <button
            class="btn btn-primary mx-2"
            role="button"
            [disabled]="waitResponse"
            (click)="onGuardar()"
          >
            <span
              class="spinner-border spinner-border-sm spinnerB"
              role="status"
              aria-hidden="true"
              *ngIf="spinnerLoad"
            ></span>
            <span class="sr-only spinnerB" *ngIf="spinnerLoad"
              >Enviando...</span
            >
            <span id="txtCrear">Registrar</span>
          </button>
          <button
            class="btn btn-danger"
            role="button"
            (click)="onReset('alta')"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--Fin template alta-->
<!--Template modificar-->
<ng-template #templateModificar>
  <div class="card bg-dark text-white mx-5">
    <div class="card-header bg-primary">Modificar registro autor</div>
    <div class="card-body">
      <app-form
        [id]="id"
        [isbn]="isbnM"
        [titulo]="tituloM"
        [categoria]="categoriaM"
        [editorial]="editorialM"
        [comboAutores]="comboAutores"
        [autorSelected]="autorM"
        (imagenSeleccionada)="formComponent.imagen = $event"
      ></app-form>
      <div class="form-group row my-2">
        <div class="col-sm-6">
          <button
            class="btn btn-primary mx-2"
            role="button"
            [disabled]="waitResponse"
            (click)="onModificar()"
          >
            <span
              class="spinner-border spinner-border-sm spinnerB"
              role="status"
              aria-hidden="true"
              *ngIf="spinnerLoad"
            ></span>
            <span class="sr-only spinnerB" *ngIf="spinnerLoad"
              >Enviando...</span
            >
            <span id="txtCrear">Modificar</span>
          </button>
          <button
            class="btn btn-danger"
            role="button"
            (click)="onReset('modificar')"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- fin template modificar-->
<!--Template para registros en tabla-->
<ng-template #filaLibro let-listaLibros>
  <tr *ngFor="let autorLibro of listaLibros; let i = index">
    <td>{{ autorLibro.id }}</td>
    <td>{{ autorLibro.libro.titulo }}</td>
    <td>{{ autorLibro.libro.categoria }}</td>
    <td>{{ autorLibro.libro.fechaRegistro | date : "EEEE dd, MMMM yyyy" }}</td>
    <td>
      <div class="btn-group">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Opciones
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="onEditar(autorLibro, i)"
              >Editar</a
            >
          </li>
          <li>
            <a class="dropdown-item">Eliminar</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showImageModal(autorLibro)"
              >Detalle</a
            >
          </li>
        </ul>
      </div>
    </td>
  </tr>
</ng-template>
<!-- Fin de template menu opciones-->

<!-- Fin templates-->

<!-- Modale para mensajes o detalla-->
<app-modals
  [template]="modalTemplate"
  [image]="src"
  [isbn]="isbnCo"
  [titulo]="tituloCo"
  [categoria]="categoriaCo"
  [editorial]="editorialCo"
  [autor]="autorName"
></app-modals>
