<div class="vh-100 d-flex justify-content-center align-items-center">
  <div
    class="col-md-4 p-5 shadow-sm border rounded-5 border-success"
    style="background: #fff"
  >
    <h2 class="text-center mb-4" style="color: #6bb23e">Iniciar Sesión</h2>
    <form th:action="" method="post">
      <div class="mb-3">
        <label
          for="username"
          class="form-label"
          style="color: #6bb23e; font-weight: bold"
          >Usuario</label
        >
        <input
          type="text"
          name="username"
          class="form-control border border-success"
          [(ngModel)]="username"
          autofocus
        />
      </div>
      <div class="mb-3">
        <label
          for="password"
          class="form-label"
          style="color: #6bb23e; font-weight: bold"
          >Contraseña</label
        >
        <input
          type="password"
          name="password"
          class="form-control border border-success"
          [(ngModel)]="password"
        />
      </div>
      <!--<p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p>-->
      <div class="d-grid">
        <button
          class="btn"
          style="background: #6bb23e; color: #fff; font-weight: bold"
          (click)="onLogin()"
          type="submit"
        >
          Ingresar
        </button>
      </div>
      <!-- Se desahabilita por que se usara JWT -->
      <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
    </form>
  </div>
</div>
