<div class="card border-primary mb-3">
  <div class="card-header text-white bg-dark">
    PANEL ADMINISTRACIÓN DE PRODUCTOS
  </div>
  <div class="card-body">
    <!--- Panel de para filtro de búsqueda-->
    <div *ngIf="pnBuscar" id="buscar">
      <ng-container *ngTemplateOutlet="templateBuscar"></ng-container>
    </div>
    <!--Fin Panel búsqueda-->
    <!-- Panel alta -->
    <div id="alta" *ngIf="pnAlta">
      <ng-container *ngTemplateOutlet="templateAlta"></ng-container>
    </div>
    <!-- Fin panel alta-->
  </div>
  <div class="card border-primary mb-3 mx-2">
    <div class="card-header text-white bg-primary">Stock de productos</div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="text-center">
          <tr>
            <th>ISBN</th>
            <th>TITULO</th>
            <th>STOCK</th>
            <th>PRECIO</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngTemplateOutlet="
              contentListaInventario;
              context: { $implicit: listaInventario }
            "
          ></ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Templates para componentes -->
<ng-template #templateBuscar>
  <div class="card mt-3 mx-auto" style="width: 20rem">
    <div class="card-header text-dark bg-warning">Filtro de búsqueda</div>
    <div class="card-body">
      <app-formularios [formulario]="formulario"></app-formularios>
      <button class="btn btn-primary mx-2">Buscar</button>
      <button class="btn btn-success" (click)="onNuevo()">Nuevo</button>
    </div>
  </div>
</ng-template>
<!-- Template con formulario para alta de producto-->
<ng-template #templateAlta>
  <div class="card bg-dark text-white mx-5">
    <div class="card-header bg-primary">Alta stock de producto</div>
    <div class="row g-0">
      <div class="col-md-4 text-center">
        <img
          [src]="src"
          alt=""
          class="img-fluid rounded-start p-3"
          style="width: 80%"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <app-formularios
            [formulario]="formulario"
            [id]="idLibro"
            [comboLibros]="comboLibros"
            [isbn]="isbn"
            [autor]="autor"
            [editorial]="editorial"
            [precio]="precio"
            [stock]="stock"
            [minimo]="minimo"
            (idSelect)="onDetalleLibro($event)"
          ></app-formularios>
          <div class="form-group row my-2">
            <div class="col-sm-6">
              <button
                class="btn btn-primary mx-2"
                role="button"
                [disabled]="waitResponse"
                (click)="onGuardar()"
              >
                <span
                  class="spinner-border spinner-border-sm spinnerB"
                  role="status"
                  aria-hidden="true"
                  *ngIf="spinnerLoad"
                ></span>
                <span class="sr-only spinner" *ngIf="spinnerLoad"
                  >Enviando...</span
                >
                <span id="txtBtn">Registrar</span>
              </button>
              <button
                class="btn btn-danger"
                role="button"
                (click)="onReset('alta')"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Template para contenido de tabla-->
<ng-template #contentListaInventario let-listaInventario>
  <tr
    class="text-center"
    *ngFor="let inventario of listaInventario; let i = index"
  >
    <td>{{ inventario.libro.isbn }}</td>
    <td>{{ inventario.libro.titulo }}</td>
    <td>{{ inventario.stock }}</td>
    <td>{{ inventario.precio }}</td>
  </tr>
</ng-template>
