<p-menu #menu [popup]="true" [model]="opciones"></p-menu>
<p-contextMenu #contextMenu [model]="opciones"></p-contextMenu>
<div class="card border-primary mb-3">
  <div class="card-header text-white bg-dark">PANEL GESTIÓN PRODUCTOS</div>
  <div class="card-body">
    <!-- panel para filtros de búsqueda-->
    <div *ngIf="pnBuscar" id="buscar">
      <ng-container *ngTemplateOutlet="templateBuscar"></ng-container>
    </div>
  </div>
  <div class="card border-primary mb-3 mx-2">
    <div class="card-header text-white bg-primary">Lista de productos</div>
    <div class="card-body">
      <p-table
        [value]="listaInventario"
        [contextMenu]="contextMenu"
        selectionMode="single"
        styleClass="p-datatable-gridlines"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">ISBN</th>
            <th class="text-center">TITULO</th>
            <th class="text-center">STOCK</th>
            <th class="text-center">MINIMO</th>
            <th class="text-center">PRECIO</th>
            <th class="text-center">OPCIONES</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inventario let-rowIndex="rowIndex">
          <tr
            [pContextMenuRow]="inventario"
            (contextmenu)="showContextMenu($event, inventario, rowIndex)"
          >
            <td class="text-center">{{ inventario.libro.isbn }}</td>
            <td class="text-center">{{ inventario.libro.titulo }}</td>
            <td class="text-center">{{ inventario.stock }}</td>
            <td class="text-center">{{ inventario.minimo }}</td>
            <td class="text-center">{{ inventario.precio }}</td>
            <td class="text-center">
              <button
                class="btn btn-secondary"
                type="button"
                (click)="toogleMenu(menu, $event, inventario, rowIndex)"
              >
                <i class="fa-solid fa-gears"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- Template de los componentes-->
<!-- Template para búsqueda-->
<ng-template #templateBuscar>
  <div class="card mt-3 mx-auto" style="width: 20rem">
    <div class="card-header text-dark bg-warning">Filtro de búsqueda</div>
    <div class="card-body">
      <app-formularios
        [formulario]="formulario"
        [isbnB]="isbn"
        [tituloB]="titulo"
      >
      </app-formularios>
      <button class="btn btn-primary mx-2">Buscar</button>
      <button class="btn btn-success">Nuevo</button>
    </div>
  </div>
</ng-template>
<!-- Fin de templates-->

<app-modales
  [template]="modalTemplate"
  [inputs]="inputsModal"
  [image]="src"
  [idInventario]="idInventario"
  (eventEmitter)="onModificar($event)"
  [typeForm]="typeForm"
></app-modales>
