<!--
    Si se tiene una clase representada por entidad en angular se puede mapear colocando en ngModel = nombre de la entida definida seguida del nombre del atributo
    Ej:
    cliente.nombre
-->
<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form action="">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.nombre"
            name="nombre"
          />
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.apellido"
            name="apellido"
          />
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="email" class="col-form-label col-sm-2">E-mail</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.email"
            name="email"
          />
        </div>
      </div>
      <div class="form-group row my-2">
        <div class="col-sm-6">
          <button
            class="btn btn-primary"
            role="button"
            (click)="guardar()"
            *ngIf="!cliente.id; else elseBlock"
          >
            Crear
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="modificar()">
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
