<ng-container [ngSwitch]="template">
  <ng-container *ngSwitchCase="'image'">
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">DETALLE LIBRO</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="closeModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img
              [src]="safeImageUrl"
              alt=""
              width="40%"
              class="img-thumbnail rounded float-start"
            />
            <ul class="list-group">
              <li class="list-group-item"><b>ISBN:</b> {{ isbn }}</li>
              <li class="list-group-item"><b>TITULO:</b> {{ titulo }}</li>
              <li class="list-group-item"><b>CATEGORIA:</b> {{ categoria }}</li>
              <li class="list-group-item"><b>EDITORIAL:</b> {{ editorial }}</li>
              <li class="list-group-item"><b>AUTOR:</b> {{ autor }}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="closeModal()"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'text'">
    <p>{{ text }}</p>
  </ng-container>
  <ng-container *ngSwitchCase="'inputs'">
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="tituloInputModal">
              Modificar Producto
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="closeModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img
              [src]="safeImageUrl"
              alt=""
              width="40%"
              class="img-thumbnail rounded float-start"
            />

            <div class="form-group" *ngFor="let input of inputs">
              <ul class="list-group">
                <li class="list-group-item">
                  <b>
                    <label [for]="input.id" class="col-form-label col-sm-2"
                      >{{ input.label }}:</label
                    ></b
                  >
                  <input
                    type="{{ input.type }}"
                    class="form-control"
                    id="{{ input.id }}"
                    [(ngModel)]="input.value"
                    [disabled]="input.disable"
                  />
                </li>
              </ul>
            </div>
            <div class="form-group row my-2">
              <div class="col-sm-6">
                <button
                  class="btn btn-primary mx-2"
                  role="button"
                  (click)="onSubmit()"
                >
                  Registrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
