<div class="card border-primary mb-3">
  <div class="card-header text-white bg-dark">PANEL ADMINISTRACIÓN AUTORES</div>
  <div class="card-body">
    <!--- Panel de para filtro de búsqueda-->
    <div *ngIf="pnBuscar" id="buscar">
      <ng-container *ngTemplateOutlet="templateBuscar"></ng-container>
    </div>
    <!--Fin Panel búsqueda-->
    <!--Panel alta-->

    <div *ngIf="pnAlta" id="alta">
      <ng-container *ngTemplateOutlet="templateAlta"></ng-container>
    </div>

    <!--Fin panel alta-->
    <!--Panel para modificar-->
    <div *ngIf="pnModificar" id="modificar">
      <ng-container *ngTemplateOutlet="templateModificar"></ng-container>
    </div>
    <!--fin panel modificar-->
  </div>
  <div class="card border-primary mb-3 mx-2">
    <div class="card-header text-white bg-primary">Lista de Autores</div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="text-center">
          <tr>
            <th>ID</th>
            <th>NONBRE</th>
            <th>APELLIDO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngTemplateOutlet="filaAutor; context: { $implicit: listaAutores }"
          ></ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Templates para aplicacion -->
<!-- Template para buscar-->
<ng-template #templateBuscar>
  <div class="card mt-3 mx-auto" style="width: 18rem">
    <div class="card-header text-dark bg-warning">Filtro de búsqueda</div>
    <div class="card-body">
      <app-formularios [formulario]="formulario" [nombreB]="nombreB">
      </app-formularios>
      <button class="btn btn-primary mx-2" (click)="onBuscar()">Buscar</button>
      <button class="btn btn-success" (click)="onNuevo()">Nuevo</button>
    </div>
  </div>
</ng-template>
<!-- Fin template buscar-->
<!-- Template para alta de autor-->
<ng-template #templateAlta>
  <div class="card bg-dark text-white mx-5">
    <div class="card-header bg-primary">Registro nuevo autor</div>
    <div class="card-body">
      <app-formularios
        [formulario]="formulario"
        [nombre]="nombreA"
        [apellido]="apellidoA"
      ></app-formularios>
      <div class="form-group row my-2">
        <div class="col-sm-6">
          <button
            class="btn btn-primary mx-2"
            role="button"
            (click)="onGuardar()"
            [disabled]="waitResponse"
          >
            <span
              class="spinner-border spinner-border-sm spinnerB"
              role="status"
              aria-hidden="true"
              *ngIf="spinnerLoad"
            ></span>
            <span class="sr-only spinnerB" *ngIf="spinnerLoad"
              >Enviando...</span
            >
            <span id="txtCrear">Crear</span>
          </button>
          <button
            class="btn btn-danger"
            role="button"
            (click)="onReset('alta')"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--Fin template alta-->
<!--Template modificar-->
<ng-template #templateModificar>
  <div class="card bg-dark text-white mx-5">
    <div class="card-header bg-primary">Modificar registro autor</div>
    <div class="card-body">
      <app-formularios
        [formulario]="formulario"
        [nombre]="nombreM"
        [apellido]="apellidoM"
      ></app-formularios>
      <div class="form-group row my-2">
        <div class="col-sm-6">
          <button
            class="btn btn-primary mx-2"
            role="button"
            (click)="onModificar()"
            [disabled]="waitResponse"
          >
            <span
              class="spinner-border spinner-border-sm spinnerB"
              role="status"
              aria-hidden="true"
              *ngIf="spinnerLoad"
            ></span>
            <span class="sr-only spinnerB" *ngIf="spinnerLoad"
              >Enviando...</span
            >
            <span id="txtCrear">Modificar</span>
          </button>
          <button
            class="btn btn-danger"
            role="button"
            (click)="onReset('modificar')"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- fin template modificar-->
<!--Template para registros en tabla-->
<ng-template #filaAutor let-listaAutores>
  <tr *ngFor="let autor of listaAutores; let i = index">
    <td>{{ autor.id }}</td>
    <td>{{ autor.nombre }}</td>
    <td>{{ autor.apellido }}</td>
    <td>
      <div class="btn-group">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Opciones
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="onEditar(autor, i)">Editar</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="onEliminar(autor, i)">Eliminar</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</ng-template>
<!-- Fin de template menu opciones-->

<!-- Fin templates-->
