<div class="card border-primary mb-3">
  <div class="card-header text-white bg-dark">PANEL ADMINISTRACIÓN AUTORES</div>
  <div class="card-body">
    <!--- Panel de para filtro de búsqueda-->
    <ng-template #templateBuscar>
      <div class="card mt-3 mx-auto" style="width: 18rem">
        <div class="card-header text-dark bg-warning">Filtro de búsqueda</div>
        <div class="card-body">
          <div class="form-group row mb-3">
            <label for="nombre" class="col-form-label col-sm-4">Nombre:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="nombre" />
            </div>
          </div>
          <button class="btn btn-primary mx-2">Buscar</button>
          <button class="btn btn-success" (click)="onNuevo()">Nuevo</button>
        </div>
      </div>
    </ng-template>
    <div *ngIf="pnBuscar" id="buscar">
      <ng-container *ngTemplateOutlet="templateBuscar"></ng-container>
    </div>
    <!--Fin Panel búsqueda-->
    <!--Panel alta-->
    <ng-template #templateAlta>
      <div class="card bg-dark text-white mx-5">
        <div class="card-header bg-primary">Registro nuevo autor</div>
        <div class="card-body">
          <app-form [nombre]="nombreA" [apellido]="apellidoA"></app-form>
          <div class="form-group row my-2">
            <div class="col-sm-6">
              <button
                class="btn btn-primary mx-2"
                role="button"
                (click)="onGuardar()"
                [disabled]="waitResponse"
              >
                <span
                  class="spinner-border spinner-border-sm spinnerB"
                  role="status"
                  aria-hidden="true"
                  *ngIf="spinnerLoad"
                ></span>
                <span class="sr-only spinnerB" *ngIf="spinnerLoad"
                  >Enviando...</span
                >
                <span id="txtCrear">Crear</span>
              </button>
              <button
                class="btn btn-danger"
                role="button"
                (click)="onReset('alta')"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div *ngIf="pnAlta" id="alta">
      <ng-container *ngTemplateOutlet="templateAlta"></ng-container>
    </div>

    <!--Fin panel alta-->
    <!--Panel para modificar-->
    <ng-template>
      <div class="card bg-dark text-white mx-5">
        <div class="card-header bg-primary">Modificar autor</div>
        <div class="card-body">
          <app-form [nombre]="nombreM"></app-form>
          <div class="form-group row my-2">
            <div class="col-sm-6">
              <button class="btn btn-primary mx-2" role="button">Crear</button>
              <button class="btn btn-danger" role="button">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <!--fin panel modificar-->
  </div>
  <div class="card border-primary mb-3 mx-2">
    <div class="card-header text-white bg-primary">Lista de Autores</div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="text-center">
          <tr>
            <th>ID</th>
            <th>NONBRE</th>
            <th>APELLIDO</th>
            <th>
              <div class="btn-group">
                <button
                  class="btn btn-secondary btn-sm dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Small button
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="" class="dropdown-item">Opcion1</a>
                  </li>
                  <li><a href="" class="dropdown-item">Opcion1</a></li>
                </ul>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autor of listaAutores">
            <td>{{ autor.id }}</td>
            <td>{{ autor.nombre }}</td>
            <td>{{ autor.apellido }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
